﻿@{
    Layout = "_SignInUp";
    ViewData["Title"] = "Forget Password";
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@model ForgetPasswordViewModel

@if (TempData["Succeed"] != null)
{
    <div id="successAlert" class="custom-alert alert-success">
        <i class="fa-solid fa-check"></i>
        @TempData["Succeed"]!.ToString()
    </div>
}
else if (TempData["Failed"] != null)
{
    <div id="errorAlert" class="custom-alert alert-danger">
        <i class="fa-solid fa-xmark"></i>  @TempData["Failed"]!.ToString()
    </div>
}

<section class="py-3 py-md-4 py-xl-6 d-flex justify-content-center align-items-center" style="margin-top:10rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-4 text-center">
                    <h2 class="display-5 fw-bold text-center text-gradient">I forgot my password <span class="text-danger">.</span></h2>
                    <br />
                    <p class="text-center text-muted m-0">Having trouble accessing your account? You can reset your password by entering your email address.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-3 justify-content-center d-flex flex-column align-items-center">
                    <div class="col-12 col-lg-12">
                        <form asp-controller="User" asp-action="ForgetPassword" method="post">
                            <div class="row gy-2 overflow-hidden">
                                <!-- Email Field -->
                                <div class="col-12">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-floating mb-2">
                                        <input asp-for="Email" class="form-control border-0 border-bottom rounded-0" placeholder="example@gmail.com">
                                        <label asp-for="Email" class="form-label">Email Address</label>
                                        <span class="text-danger mt-2" asp-validation-for="Email"></span>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class=" btn btn-lg btn-premium rounded-4 fs-6" type="submit">Reset My Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center m-4 ">

                        <hr class="flex-grow-1 me-3" />
                        <span class="text-gradient">or</span>
                        <hr class="flex-grow-1 ms-3" />

                    </div>
                    <div class="col-12 col-lg-10 d-flex justify-content-center mt-1">
                        <div class="d-flex gap-3 flex-column w-100 ">
                            <a href="#!" class="btn bsb-btn-2xl btn-outline-premium rounded-pill d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-danger" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                </svg>
                                <span class="ms-2 fs-6 flex-grow-1">Continue with Google</span>
                            </a>
                            <a href="#!" class="btn bsb-btn-2xl btn-outline-premium rounded-pill d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-apple text-dark" viewBox="0 0 16 16">
                                    <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.520.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.276.086 1.767-.271.49-.358 1.149-1.544.862-2.434Z" />
                                </svg>
                                <span class="ms-2 fs-6 flex-grow-1">Continue with Apple</span>
                            </a>
                            <a href="#!" class="btn bsb-btn-2xl btn-outline-premium rounded-pill d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook text-primary" viewBox="0 0 16 16">
                                    <path d="M6.598 0C2.967 0 0 3.134 0 6.99c0 2.724 1.672 5.067 4.027 6.197v3.59h2.24v-4.03h-2.24v-3.079c0-2.213 1.354-3.418 3.401-3.418 1.376 0 2.623.128 2.95.128v2.69h-2.018c-1.046 0-1.373.682-1.373 1.372v2.364h2.44l-.417 2.74h-2.023V16c2.253-.847 3.973-3.396 3.973-6.99C12.196 3.134 9.229 0 6.598 0z" />
                                </svg>
                                <span class="ms-2 fs-6 flex-grow-1">Continue with Facebook</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function showAlertSuccess(alertId) {
        var alertBox = document.getElementById(alertId);
        if (alertBox) {
            alertBox.classList.add("show-alert");
            setTimeout(() => {
                alertBox.classList.remove("show-alert");

                // Yönlendirme işlemi
                // window.location.href = '/user/signin';

            }, 3000); // 3 saniye sonra kaybolur
        }
    }

    function showAlertError(alertId) {
        var alertBox = document.getElementById(alertId);
        if (alertBox) {
            alertBox.classList.add("show-alert");
            setTimeout(() => {
                alertBox.classList.remove("show-alert");
            }, 3000); // 3 saniye sonra kaybolur
        }
    }

    // Örnek: Alertleri açmak için
    showAlertSuccess('successAlert'); // Başarılı mesajı göster
    showAlertError('errorAlert'); // Başarısız mesajı göster
</script>