﻿@{
    Layout = "_SignInUp";
    ViewData["Title"] = "Forget Password";
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@model ResetPasswordViewModel

@if (TempData["Succeed"] != null)
{
    <div id="successAlert" class="custom-alert alert-success">
        <i class="fa-solid fa-check"></i>
        @TempData["Succeed"]!.ToString()
    </div>
}
else if (TempData["Failed"] != null)
{
    <div id="errorAlert" class="custom-alert alert-danger">
        <i class="fa-solid fa-xmark"></i>  @TempData["Failed"]!.ToString()
    </div>
}

<section class="py-3 py-md-4 py-xl-6 d-flex justify-content-center align-items-center" style="margin-top:10rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-4 text-center">
                    <h1 class=" display-6 fw-bold text-center text-gradient">We know you're bored, there's very little left<span class="text-danger">...</span></h1>
                    <br />
                    <h5 class="text-center text-muted m-0">Enter your new password.</h5>
                    <br />
                    <p class="text-center m-0"></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-3 justify-content-center d-flex flex-column align-items-center">
                    <div class="col-12 col-lg-12">
                        <form asp-controller="User" asp-action="ResetPassword" method="post">
                            <div class="row gy-2 overflow-hidden">
                                <!-- Email Field -->
                                <div class="col-12">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-floating mb-4 mt-4">
                                        <input asp-for="NewPassword" class="form-control border-0 border-bottom rounded-0">
                                        <label asp-for="NewPassword" class="form-label"></label>
                                        <span class="text-danger mt-2" asp-validation-for="NewPassword"></span>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input asp-for="ConfirmNewPassword" class="form-control border-0 border-bottom rounded-0">
                                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                                        <span class="text-danger mt-2" asp-validation-for="ConfirmNewPassword"></span>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class=" btn btn-lg mt-4 btn-premium rounded-4 fs-6" type="submit">Reset My Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function showAlertSuccess(alertId) {
        var alertBox = document.getElementById(alertId);
        if (alertBox) {
            alertBox.classList.add("show-alert");
            setTimeout(() => {
                alertBox.classList.remove("show-alert");

                // Yönlendirme işlemi
                window.location.href = '/user/signin';

            }, 3000); // 3 saniye sonra kaybolur
        }
    }

    function showAlertError(alertId) {
        var alertBox = document.getElementById(alertId);
        if (alertBox) {
            alertBox.classList.add("show-alert");
            setTimeout(() => {
                alertBox.classList.remove("show-alert");
            }, 3000); // 3 saniye sonra kaybolur
        }
    }

    // Örnek: Alertleri açmak için
    showAlertSuccess('successAlert'); // Başarılı mesajı göster
    showAlertError('errorAlert'); // Başarısız mesajı göster
</script>